<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>HTMX and SqLite demo</title>
		<script src="https://unpkg.com/htmx.org@2.0.4"></script>
		<script src="scripts.js" defer></script>
		<link rel="stylesheet" href="style.css" />
        <meta name="CSRF-TOKEN" content="DYNAMIC_CSRF_TOKEN_HERE">
	</head>

    <body hx-headers='js:{"X-CSRF-TOKEN": document.querySelector(`meta[name="CSRF-TOKEN"]`).content}'>
		{{{body}}}
	</body>
</html>
