<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>HTMX and SqLite demo</title>
		<script
			src="https://unpkg.com/htmx.org@1.9.5"
			integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
			crossorigin="anonymous"
		></script>
		<script src="scripts.js" defer></script>
		<link rel="stylesheet" href="style.css" />
	</head>

	<body>
		<h1>HTMX and SqLite demo</h1>

		<main>
			<h3>
				<span class="htmx-indicator">
					<img src="/bars.svg" alt="Indicator bars" />
					Loading...
				</span>
			</h3>

			<form
				id="fmNewToDo"
				hx-post="/todos"
				hx-target="#todos-list"
				hx-swap="beforeend"
				hx-indicator=".htmx-indicator"
				hx-on::after-request="event.target.reset()"
			>
				<input
					type="text"
					name="newToDo"
					placeholder="Title of new To Do"
					required
					hx-on:keyup="controlAddTodoButton(event)"
				/>
				<button type="submit" name="addButton">Add To Do</button>
			</form>

			<hr />

			<ul
				id="todos-list"
				hx-get="/todos"
				hx-trigger="load"
				hx-indicator=".htmx-indicator"
			></ul>
		</main>
	</body>
</html>

<!--
					pattern="[^;<>]{3,60}"

<script>alert('Stored XSS attack!')</script>
&lt;script&gt;alert('Stored XSS attack!')&lt;/script&gt;
%3Cscript%3Ealert(%22Stored%20XSS%20attack!%22)%3C/script%3E
-->
